{% extends "base.html" %}
{% load dc_forms %}

{% block content %}

    <div class="ds-stack">
        {% include "election_snooper/sub_menu.html" %}

        {% for form in forms %}
            <div class="ds-card">
                <div class="ds-card-body">
                    <h3>{{ form.instance.election.election_id }}</h3>
                    <div>
                        <li><strong>election_type</strong>: {{ form.instance.election.election_type }}</li>
                        <li><strong>election_subtype</strong>: {{ form.instance.election.election_subtype }}</li>
                        <li><strong>poll_open_date</strong>: {{ form.instance.election.poll_open_date }}</li>
                        <li><strong>organisation</strong>: {{ form.instance.election.organisation }}</li>
                        <li><strong>division</strong>: {{ form.instance.election.division }}</li>
                    </div>

                    <div>
                        <form method=post>
                            {% csrf_token %}
                            {{ form|dc_form }}
                            <input type=hidden name="election" value={{ form.instance.election.pk }}>
                            <button type="submit" class="ds-button">Save</button>
                        </form>
                    </div>
                </div>
            </div>

        {% empty %}
            <div class="ds-card">
                No items!
            </div>
        {% endfor %}

    </div>
{% endblock content %}
