{% extends "base.html" %}
{% load dc_forms %}

{% block page_title %}Moderation Queue{% endblock page_title %}


{% block content %}

    <div class="ds-stack">
        {% include "election_snooper/sub_menu.html" %}

        {% for form in forms %}
            <div class="ds-card">
                <div class="ds-card-body">
                    <h3>{{ form.instance.election.election_id }}</h3>
                    <dl class="ds-descriptions">
                        <div>
                            <dt>Source</dt>
                            <dd>{{ form.instance.election.source }}</dd>
                        </div>
                        <div>
                            <dt>Election Type</dt>
                            <dd>{{ form.instance.election.election_type }}</dd>
                        </div>
                        {% if form.instance.election.election_subtype %}
                            <div>
                                <dt>Election Sub-type</dt>
                                <dd>{{ form.instance.election.election_subtype }}</dd>
                            </div>{% endif %}
                        <div>
                            <dt>Date</dt>
                            <dd>{{ form.instance.election.poll_open_date }}</dd>
                        </div>
                        <div>
                            <dt>Organisation</dt>
                            <dd>{{ form.instance.election.organisation }}</dd>
                        </div>
                        <div>
                            <dt>Division</dt>
                            <dd>{{ form.instance.election.division }}</dd>
                        </div>
                        <div>
                            <dt>Seats Contested</dt>
                            <dd>{{ form.instance.election.seats_contested }}</dd>
                        </div>
                    </dl>

                    <div>
                        <form method=post>
                            {% csrf_token %}
                            {{ form|dc_form }}
                            <input type=hidden name="election" value={{ form.instance.election.pk }}>
                            <button type="submit" class="ds-button">Save</button>
                        </form>
                    </div>
                </div>
            </div>

        {% empty %}
            <div>
                No items!
            </div>
        {% endfor %}

    </div>
{% endblock content %}
