{% extends "base.html" %}
{% load dc_forms %}

{% block content %}

<section class="columns large-8 large-centered">
  <ul class="menu">
    <li {% if not request.GET.status and not request.GET.pk %}class="active"{% endif %} ><a href="{% url "snooped_election_view" %}">All</a></li>
    <li {% if request.GET.status == 'new' %}class="active"{% endif %} ><a href="{% url "snooped_election_view" %}?status=new">New</a></li>
    <li {% if request.GET.status == 'election' %}class="active"{% endif %} ><a href="{% url "snooped_election_view" %}?status=election">Elections</a></li>
    <li {% if request.GET.status == 'out_of_scope' %}class="active"{% endif %} ><a href="{% url "snooped_election_view" %}?status=out_of_scope">Out of scope</a></li>
    <li {% if request.GET.status == 'duplicate' %}class="active"{% endif %} ><a href="{% url "snooped_election_view" %}?status=duplicate">Duplicate</a></li>
  </ul>

    {% for form in object_list %}
    <div class="card postcode_card">
        <h3>{{ form.instance.title }}</h3>
        <div class="row">
            <div class="columns large-8">
                {{ form.instance.detail }}
                <p>
                    {% if form.instance.snooper_name == "ALDC" %}
                        <a href="{{ form.instance.source }}">{{ form.instance.source }}</a>
                    {% else %}
                        <a href="{{ form.instance.detail_url }}">{{ form.instance.detail_url }}</a>
                    {% endif %}
                </p>
                <p>Found via <code>{{ form.instance.snooper_name }}</code></p>
            </div>
            <div class="columns large-4">
              <form method=post>
              {% csrf_token %}
              {{ form|dc_form }}
              <input type=hidden name="pk" value={{ form.instance.pk }}>
              <button type="submit" class="button">Save</button>
              </form>
            </div>
        </div>
    </div>
    {% empty %}
    <div class="card">
      No items!
    </div>
    {% endfor %}
</section>
{% endblock content %}
