{% extends "dc_base.html" %}
{% load i18n %}
{% load static %}
{% load pipeline %}

{% block extra_site_css %}
    {% stylesheet 'styles' %}
{% endblock extra_site_css %}



{% block site_menu %}
    <nav>
        <ul>
            <li><a href="{% url "home"%}">Home</a></li>
            <li><a href="{% url "organisations_view"%}">Organisations</a></li>
            <li><a href="{% url "election_types_view"%}">Election Types</a></li>
            <li><a href="{% url "reference_definition_view"%}">Reference Definition</a></li>
            <li><a href="{% url "elections_view"%}">Elections</a></li>
            <li><a href="{% url "id_creator"%}">ID Creator</a></li>
            {% if not user.is_authenticated %}
                <li>|</li>
                <li><a href="{% url "login"%}">Log In</a></li>
            {% endif %}
        </ul>

        {% if user.is_authenticated %}
            <ul>
                <li><a href="{% url "snooped_election_view"%}">Election Radar</a></li>
                <li><a href="{% url "election_moderation_queue"%}">Moderation</a></li>
                <li>|</li>
                <li>
                    <form class="ds-logout" id="logout-form" method="post" action="{% url 'logout'%}">
                        {% csrf_token %}
                        <button type="submit">Log Out {{ user }}</button>
                    </form>
                </li>
                <li><a href="{% url "password_change"%}">Change Password</a></li>
            </ul>
        {% endif %}
    </nav>
{% endblock site_menu %}

{% block main_base %}
    <main id="main" tabindex="-1" class="ds-stack {% if request.user.is_authenticated %}authenticated{% endif %}">
        {% block messages %}
            {% if SERVER_ENVIRONMENT == 'test' or SERVER_ENVIRONMENT == 'staging' %}
                <aside class="ds-status" aria-label="Status">
                    <ul class="ds-stack">
                        <li class="ds-status-message">This is a staging site.</li>
                    </ul>
                </aside>
            {% endif %}
        {% endblock messages %}

        {% block content %}
            {% block page_content %}
                {% block base_title %}{% block page_title %}{% endblock page_title %} | Democracy Club Elections{% endblock base_title %}
            {% endblock page_content %}
        {% endblock content %}
    </main>
{% endblock main_base %}
{% block mailing_list %}{% endblock mailing_list %}
{% block footer_menu %}
    {% block footer_links %}
        <div class="ds-footer-links">
            <nav>
                <h2 class="ds-h6">Every Election</h2>
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                </ul>
            </nav>
            <nav>
                <h2 class="ds-h6">About Democracy Club</h2>
                <ul>
                    <li><a href="https://democracyclub.org.uk/about/">About Democracy Club</a></li>
                    <li><a href="https://democracyclub.org.uk/privacy/">Privacy</a></li>
                    <li><a href="https://democracyclub.org.uk/blog/">Blog</a></li>
                    <li><a href="https://democracyclub.org.uk/contact/">Contact</a></li>
                    <li><a href="https://democracyclub.org.uk/donate/">Donate</a></li>
                </ul>
            </nav>
            <nav>
                <h2 class="ds-h6">Connect with us</h2>
                <ul>
                    <li><a href="https://democracyclub.org.uk/contact/">Contact Us</a></li>
                    <li><a rel="me" href="https://mastodon.me.uk/@DemocracyClub">Mastodon</a></li>
                    <li><a href="https://twitter.com/democlub">X</a></li>
                    <li><a href="https://github.com/DemocracyClub">GitHub</a></li>
                    <li><a href="https://www.linkedin.com/company/democracy-club-cic">LinkedIn</a></li>
                    <li><a href="https://mailinglist.democracyclub.org.uk/subscription/form">Join our Mailing List</a></li>
                    <li><a href="https://mailinglist.democracyclub.org.uk/archive">Newsletter Archive</a></li>
                </ul>
            </nav>
        </div>
    {% endblock footer_links %}
{% endblock footer_menu %}
{% block extra_footer_copyright_text %}
    <div class="ds-copyright">
        <p>Contains OS data © Crown copyright and database right {% now 'Y' %}</p>
        <p>Contains Royal Mail data © Royal Mail copyright and database right {% now 'Y' %}</p>
        <p>Contains National Statistics data © Crown copyright and database right {% now 'Y' %}</p>
    </div>
{% endblock extra_footer_copyright_text %}
{% block extra_site_js %}
    {% javascript "scripts" %}
{% endblock extra_site_js %}
