{% extends "base.html" %}

{% block base_title %}Democracy Club Elections{% endblock base_title %}
{% block og_title %}Democracy Club Elections{% endblock og_title %}


{% block content %}
    <section>
        <div class="ds-stack">
            <h1>UK elections database</h1>
            <h2>Every district council level election and above</h2>
        </div>
    </section>
    <section>
        <div class="ds-stack">
            <h3>Upcoming elections</h3>
            <ul>
                {% for election in upcoming_elections %}
                    <li>
                        <a href="{{ election.get_absolute_url }}">{{ election }}</a>
                        ( {{ election.election_type }} {{ election.poll_open_date }} )
                    </li>
                {% endfor %}
            </ul>


            {% if request.user.is_authenticated %}
                <a href="{% url "id_creator" %}" class="ds-cta">
                    Add a new election
                </a>
            {% else %}
                <h3>Heard about a by-election</h3>
                <p>If you know about a by-election, please tell us about it. We manually create scheduled elections,
                    normally around 6 months before polls open.</p>
                <a href="{% url "id_creator" %}" class="ds-cta">
                    Suggest a new by-election
                </a>
            {% endif %}
        </div>
    </section>
{% endblock content %}
