{% extends "base.html" %}

{% block base_title %}Democracy Club Elections{% endblock base_title %}
{% block og_title %}Democracy Club Elections{% endblock og_title %}


{% block content %}
    <section>
        <div class="ds-stack">
            <h1>UK elections database</h1>
            <h2>Every district council level election and above</h2>
        </div>
    </section>
    <section>
        <div class="ds-stack">
            <h3>Upcoming elections</h3>
            <ul>
                {% for election in upcoming_elections  %}
                    <li>
                        <a href="{{ election.get_absolute_url }}">{{ election }}</a>
                        ( {{ election.election_type }} {{ election.poll_open_date }} )
                    </li>
                {% endfor %}
            </ul>


            <h3>Heard about a new election?</h3>
            <a href="{% url "id_creator" %}" class="ds-cta">Add a new election</a>



            <h3>The data is open to all</h3>
            <p><a href="{% url "api:api-root" %}">We are building an API</a> that you can start using.
                It's very new and will change a bit, so it's best
                to <a href="https://democracyclub.org.uk/contact/">get in touch</a>
                if you're interested in using that data.</p>

        </div>
    </section>
{% endblock content %}
