{% extends "base.html" %}

{% block base_title %}Democracy Club Elections{% endblock base_title %}
{% block og_title %}Democracy Club Elections{% endblock og_title %}


{% block content %}
    <section>
        <div class="ds-stack">
            <h1>UK elections database</h1>
            <h2>Every district council level election and above</h2>
        </div>
    </section>
    <section>
        <div class="ds-stack">
            <h3>Upcoming elections</h3>
            <ul>
                {% for election in upcoming_elections %}
                    <li>
                        <a href="{{ election.get_absolute_url }}">{{ election }}</a>
                        ( {{ election.election_type }} {{ election.poll_open_date }} )
                    </li>
                {% endfor %}
            </ul>


            <h3>Heard about a new election?</h3>
            <a href="{% url "id_creator" %}" class="ds-cta">
                {% if request.user.is_authenticated %}
                    Add a new election
                {% else %}
                    Suggest a new election
                {% endif %}
            </a>

        </div>
    </section>
{% endblock content %}
