interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://s3-eu-west-1.amazonaws.com/onspd-static-json/SW1A1AX
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>SW1A1AX</Key><RequestId>FD6D24043AD1C638</RequestId><HostId>roGB0fZlgJa3RBW+yf3wSkcfkLJllBnqXEQIXUaGkYucMmBn0sq+zmNmyedoCscaqRYZh/1yg+k=</HostId></Error>'}
    headers:
      Content-Type: [application/xml]
      x-amz-request-id: [FD6D24043AD1C638]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://mapit.mysociety.org/postcode/SW1A1AX
  response:
    body: {string: '{"code": 404, "error": "No Postcode matches the given query."}'}
    headers:
      Content-Language: [en-gb]
      Content-Type: [application/json; charset=utf-8]
      X-Quota-Current: ['1']
      X-Quota-Limit: ['50']
      x-url: [/postcode/SW1A1AX]
    status: {code: 404, message: NOT FOUND}
version: 1
