interactions:
- request:
    body: null
    headers:
    method: GET
    uri: https://s3-eu-west-1.amazonaws.com/onspd-static-json/SW1A1AX
  response:
    body: {string: '<?xml version="1.0" encoding="UTF-8"?>

        <Error><Code>NoSuchKey</Code><Message>The specified key does not exist.</Message><Key>SW1A1AX</Key><RequestId>A5C0D88D28C52AAD</RequestId><HostId>NnHYT46KmTGlHeAldfgNF66nEIGCCGihecZqIbS63QXKtPqucQSBWqauZdrv95PfMPZdoLqMKMw=</HostId></Error>'}
    headers:
      Content-Type: [application/xml]
      x-amz-request-id: [A5C0D88D28C52AAD]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://mapit.democracyclub.org.uk//postcode/SW1A1AX
  response:
    body: {string: '{"code": 404, "error": "No Postcode matches the given query."}'}
    headers:
      Content-Type: [application/json; charset=utf-8]
    status: {code: 404, message: Not Found}
- request:
    body: null
    headers:
    method: GET
    uri: https://mapit.mysociety.org//postcode/SW1A1AX
  response:
    body: {string: '{"code": 404, "error": "No Postcode matches the given query."}'}
    headers:
      Content-Language: [en-gb]
      Content-Type: [application/json; charset=utf-8]
      X-Quota-Current: ['4']
      X-Quota-Limit: ['50']
      x-url: [/postcode/SW1A1AX]
    status: {code: 404, message: NOT FOUND}
version: 1
