# WARNING: Commands in this file will run on *every* instance in *every* environment
# If you want to have a command run only once per env / once globally, use SSM Run Command
0 2 * * * every_election cd /var/www/every_election/repo && ./managementscripts/rebuild_local_db.sh
