@import 'dc_base';


body {
    background: #eee;
}

footer {
  margin-top: 2em;

  .dc-logo {
      height: 45px;
      margin-left: .5em;
  }

}

.election {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }
}

dt {
    float: left;
}

dt::after{
    content: ":";
}

dd {
    margin-left: 40%;
}

dd::after {
    content: " ";
    display:block;
    clear: left;
}

body {
//    background-color:blue !important;
}

