{% extends "id_creator/id_creator_base.html" %}
{% block page_title %}Poll Date{% endblock page_title %}

{% block form_page_header %}
    <h1>Poll date</h1>
{% endblock form_page_header %}


{% block in_page_javascript %}
    <script type="text/javascript">
        fallback.ready(function() {
            var day = document.getElementById('id_date-date_0')
            var month = document.getElementById('id_date-date_1')
            var year = document.getElementById('id_date-date_2')
            var form_date = document.getElementById('form-date');

            var CheckDOW = function () {
                if (day.value.length >= 1) {
                    if (month.value.length >= 1) {
                        if (year.value.length == 4) {
                            d = new Date([year.value, month.value, day.value])
                            var date_string = d.format("mmmm dS yyyy");
                            var day_of_the_week = d.format("dddd");
                            if (d.getDay() != 4) {
                                NotThursdayWarning('add', date_string, day_of_the_week);
                            } else {
                                NotThursdayWarning('remove', date_string, day_of_the_week);
                            }
                        }
                    }
                }
            }

            var NotThursdayWarning = function (method, date_string, day_of_the_week) {
                if (document.querySelectorAll(".ds-error"))
                document.querySelectorAll(".ds-error").forEach(el => el.remove()); {
                }

                if (method == 'add') {
                    var warning = '<div class="ds-error ds-padded" style="clear:both">UK elections are almost always on a Thursday<br>'+date_string+' is a '+ day_of_the_week +' not a Thursday. Are you sure that\'s right?</div>';
                    form_date.insertAdjacentHTML('afterend', warning);
                }

            }

            year.addEventListener('change', CheckDOW);
            month.addEventListener('change', CheckDOW);
            day.addEventListener('change', CheckDOW);
        });

    </script>
{% endblock in_page_javascript %}
