{% regroup all_ids by organisation.name as elections_by_title %}
{% for election_group in elections_by_title %}
    {% regroup election_group.list by election_subtype as elections_by_subtype %}
    {% for election_subtype_group in elections_by_subtype %}
        {% if election_subtype_group.grouper and election_subtype_group.list|length > 1 %}
            <div class="ds-table">
                <table>
                    <caption>{% if election_subtype_group.grouper %}{{ election_subtype_group.grouper }}{% else %}{{ election_group.grouper }}{% endif %}</caption>
                    <tr>
                        <th>Election Name</th>
                        <th>Ballot paper ID</th>
                    </tr>
                    {% for election in election_subtype_group.list %}
                        {% if election.identifier_type == "ballot" %}

                            <tr>
                                <td>{{ election.division }}</td>
                                <td><code>{{ election.election_id }}</code></td>
                            </tr>
                        {% endif %}
                    {% endfor %}
                </table>
            </div>
        {% endif %}
    {% endfor %}
{% endfor %}
