{% extends "base.html" %}
{% load dc_forms %}

{% block content %}

<div class="row">
<section class="columns large-10 large-centered">
  <div class="columns card">
    {# <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p> #}
    {% block form_page_header %}{% endblock form_page_header %}
    <form action="" method="post" {% block form_tag_extra %}{% endblock form_tag_extra %}>
        {% csrf_token %}
        {{ wizard.management_form }}

        {% block form_content %}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form|dc_form }}
                {% endfor %}
            {% else %}
                {{ wizard.form.errors }}
                {{ wizard.form|dc_form }}
            {% endif %}
        {% endblock form_content %}

    {% block wizard_buttons %}
        <div class="form-group">
            <input type="submit" class="button" value="Submit" />
            <p><a href="{% url "id_creator" %}?reset" class="button secondary">Start again</a></p>
        </div>

    {% endblock wizard_buttons %}

    </form>
  </div>
</section>
</div>
{% endblock content %}
