{% extends "base.html" %}
{% load dc_forms %}
{% block content %}

    {# <p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p> #}
    {% block form_page_header %}{% endblock form_page_header %}
    <form action="" method="post" id="id_creator_{{ wizard.steps.current }}" {% block form_tag_extra %}{% endblock form_tag_extra %}>
        {% csrf_token %}
        {{ wizard.management_form }}

        {% block form_content %}
            {% if wizard.form.forms %}
                {{ wizard.form.management_form }}
                {% for form in wizard.form.forms %}
                    {{ form|dc_form }}
                {% endfor %}
            {% else %}
                {{ wizard.form|dc_form }}
            {% endif %}
        {% endblock form_content %}

        {% block wizard_buttons %}
            <div class="form-group date-submit">
                <button type="submit" class="ds-button">Submit</button>
            </div>
            <a href="?reset=1" class="ds-cta ds-cta-blue">
                Start again
            </a>

        {% endblock wizard_buttons %}

    </form>



{% endblock content %}
