{% extends "id_creator/id_creator_base.html" %}
{% block page_title %}Your Election IDs{% endblock page_title %}

{% block form_page_header %}

    <div class="ds-stack">
        <h1>Your election IDs</h1>

        {% if not user_is_moderator %}
            <p>
                Thanks for your submission.
                This is a preview of the IDs that will be created
                once your submission is approved by a moderator.
            </p>
        {% endif %}

        <h2>Group IDs</h2>
        <ul>
            {% for election in all_ids %}
                {% if not election.identifier_type == "ballot" %}
                    <li><code>{{ election.election_id }}</code></li>
                {% endif %}
                {% if "gla.a" in election.election_id %}
                    {# Special case gla.a as it's really a ballot type #}
                    <li><code>{{ election.election_id }}</code></li>
                {% endif %}

            {% endfor %}
        </ul>

        {% include ballots_template %}
    </div>

{% endblock form_page_header %}

{% block wizard_buttons %}
    <button type="submit" class="ds-button" value="Create IDs">Create IDs</button>
    <a href="?reset=1" class="ds-cta ds-cta-blue">
        Start again
    </a>
{% endblock wizard_buttons %}
