{% extends "id_creator/id_creator_base.html" %}
{% block page_title %}Your Election IDs{% endblock page_title %}

{% block form_page_header %}

<div class="ds-stack">
    <h1>Your election IDs</h1>

    {% if not user_is_moderator %}
    <p>
    Thanks for your submission.
    This is a preview of the IDs that will be created
    once your submission is approved by a moderator.
    </p>
    {% endif %}
    
    <h2>Group IDs</h2>
    <ul>
    {% for election in all_ids %}
        {% if not election.identifier_type == "ballot" %}
        <li><code>{{ election.election_id }}</code></li>
        {% endif %}
    {% endfor %}
    </ul>

        {% regroup all_ids by election_title as elections_by_title %}
        <div class="ds-table">
            <table>  
                <tr>
                    <th>Election Name</th>
                    <th>Ballot paper ID</th>
                </tr> 
            {% for election_group in elections_by_title %} 
                {% for election in election_group.list %}
                    {% if election.identifier_type == "ballot" %} 
                         
                        <tr> 
                            <td>{{ election.division }}</td>
                            <td><code>{{ election.election_id }}</code></td>
                        </tr>
                    {% endif %}
                {% endfor %} 
            {% endfor %} 
            </table> 
        </div>
</div>

    {% endblock form_page_header %}

    {% block wizard_buttons %}
    <button type="submit" class="ds-button" value="Create IDs" />Create IDs</button>
    <button name="wizard_goto_step" type="submit" class="ds-button-blue" value="{{ wizard.steps.first }}">
        Start again
    </button>
    {% endblock wizard_buttons %}




