{% extends "admin/base_site.html" %}
{% block content %}
  <div class="delete-confirmation">
    <h1>{{ object }}</h1>
    <h2>This will write the following to <code>s3://{{ review_bucket }}/{{ object.s3_directory_key }}/</code></h2>
    <h3>Boundaries</h3>
    {% if object.can_upload_boundaries %}
      LGBCE Boundaries:<a href="{{ object.lgbce_boundary_url }}"> {{ object.lgbce_boundary_url }} </a>
    {% else %}
      No LGBCE Boundaries provided. Please upload independently.
    {% endif %}
    <h3>End Date CSV</h3>
    <table>
      <thead>
        <tr>
          {% for header in end_date_header%}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for value in end_date_row%}
            <td>{{ value }}</td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <h3>ECO CSV ({{ ward_count }} wards)</h3>
    <table>
      <thead>
        <tr>
          {% for header in ward_header%}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in ward_rows%}
          <tr>
            {% for value in row %}
              <td>{{ value }}</td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="Confirm">
    </form>
  </div>
{% endblock content %}
