<h1><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></h1>
<p>Also known as "{{ object.common_name }}".</p>
<p>Active from {{ object.start_date }} to
    {% if object.end_date %}{{object.end_date}}{% else %}now{% endif %}.</p>
<p>For election IDs, this should be referred to as <code>{{ object.slug }}</code></p>
<p>The official identifier is <code>{{ object.official_identifier }}</code></p>
<p>The organisation type is <code>{{ object.organisation_type }}</code></p>
{% if object.election_types.all %}
  <p>This organisation supports the following election types:</p>
  <ul>
    {% for election_type in object.election_types.all %}
      <li><code>{{ election_type.election_type }}</code></li>
    {% endfor %}
  </ul>
{% endif %}
