{% extends "base.html" %}


{% block content %}
<section class="columns large-6 large-centered">

    <div class="card postcode_card">

        {% include "organisations/organisation_summary.html" %}

        <h2>Sub-divisions</h2>
        <ul>
        {% for divisionset in object.divisionset.all %}
            <h3>{{ divisionset.short_title }}</h3>
            <p>Active from {{ divisionset.start_date }} to
                {% if divisionset.end_date %}{{divisionset.end_date}}{% else %}now{% endif %}.</p>

            {% if divisionset.legislation_url %}
            <p>These sub-divisions were enacted in
                <a href="{{ divisionset.legislation_url }}">this legislation</a>.</p>
            {% endif %}
            {% if divisionset.consultation_url %}
            <p>
                <a href="{{ divisionset.consultation_url }}">
                Read the consultation that lead to these changes</a>.
            </p>
            {% endif %}

            <p>{{ divisionset.notes }}</p>
            <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Seats</th>
                    <th>Type</th>
                    <th>Geography Code</th>
                </tr>
            </thead>
            <tbody>
            {% for division in divisionset.divisions.all %}
                <tr>
                    <td>{{ division }}</td>
                    <td>{{ division.seats_total|default_if_none:"Unknown" }}</td>
                    <td>{{ division.division_subtype }}</td>
                    <td>
                        {% if division.format_geography_link %}
                        <a href="{{ division.format_geography_link }}.html">
                            {{ division.geography_curie }}
                        </a>
                        {% else %}
                        <strong>Missing</strong>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        {% endfor %}
        </ul>
    </div>
</section>

{% endblock content %}
