{% extends "base.html" %}

{% block extra_page_css %}
<style>
@-moz-document url-prefix() {
  summary {
    display: list-item;
  }
}
</style>
{% endblock extra_page_css %}

{% block content %}
<div class="row">
<section class="columns large-10 large-centered">

  <div class="card postcode_card">
      <h2>Supported Organisations</h2>
      <p>The following is a list of organisations that this project supports.</p>
      <p>That means, we track elections for organisations on this list</p>

      {% regroup object_list by organisation_type as grouped_list %}

      {% for group in grouped_list %}
      <details>
      <summary><code>{{ group.grouper }}</code></summary>
      <ul>
          {% for object in group.list %}
          <li><a href="{{ object.get_absolute_url }}">{{ object.name }}</a></li>
          {% endfor %}

      </ul>
      </details>
      {% endfor %}


  </div>

</section>
</div>
{% endblock content %}
