{% extends "base.html" %}
{% block page_title %}Elections{% endblock page_title %}

{% block content %}

    {% for object in object_list %}
        <h3>
            <a href="{{ object.get_absolute_url }}">{{ object.get_id }}</a>
            {% if object.cancelled %}
                <span class="label alert">cancelled</span>
            {% endif %}
        </h3>
        <li><strong>election_type</strong>: {{ object.election_type }}</li>
        <li><strong>election_subtype</strong>: {{ object.election_subtype }}</li>
        <li><strong>poll_open_date</strong>: {{ object.poll_open_date }}</li>
        <li><strong>organisation</strong>: {{ object.organisation }}</li>
        <li><strong>divisions</strong>: {{ object.divisions }}</li>

    {% endfor %}

    {% if is_paginated %}
        <ul class="pagination" role="navigation" aria-label="Pagination">
            {% if page_obj.has_previous %}
                <li class="pagination-previous"><a href="?page={{ page_obj.previous_page_number }}">Previous</a></li>
            {% endif %}

            <li class="current">Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</li>

            {% if page_obj.has_next %}

                <li class="pagination-next"><a href="?page={{ page_obj.next_page_number }}">Next</a></li>
            {% endif %}
        </ul>
    {% endif %}

{% endblock content %}
