{% extends "base.html" %}

{% block content %}
<div class="row">
<section class="columns large-10 large-centered">

         {% include "./election_summary.html" %}

    <div class="card postcode_card related">
        <h3>Related Elections</h3>
        {% if object.group or object.replaces or object.replaced_by %}
        <ul>
          {% if object.group %}
            <li>Part of the election group <a href="{{ object.group.get_absolute_url }}">{{ object.group }}</a></li>
          {% endif %}
          {% if object.replaces %}
            <li>Replaces cancelled election <a href="{{ object.replaces.get_absolute_url }}">{{ object.replaces }}</a></li>
          {% endif %}
          {% if object.replaced_by %}
            <li>This election was cancelled and replaced by <a href="{{ object.replaced_by.get_absolute_url }}">{{ object.replaced_by }}</a></li>
          {% endif %}
        </ul>
        {% endif %}

        {% if object.children.all.exists %}
            <p>Sub-IDs for each election in this group:</p>
            <ul>
            {% for child in object.children.all %}
                <li>
                  <a href="{{ child.get_absolute_url }}">{{ child }}</a>
                  {% if child.cancelled %}
                    <span class="label alert">cancelled</span>
                  {% endif %}
                </li>
            {% endfor %}
            </ul>
        {% endif %}

      {% if object.get_timetable %}
      <h3>Timetable</h3>
      <table>
        <thead>
          <th>Event</th>
          <th>Date</th>
        </thead>
        <tbody>
          {% for row in object.get_timetable %}
          <tr>
          <td>{{ row.label }}</td>
          <td>{{ row.date }}</td>
          </tr>
          {% endfor %}

        </tbody>
      </table>
      {% endif %}

      {% if object.get_example_postcode %}
        <h3>Example postcode</h3>
        <p>{{ object.get_example_postcode.pcds }}</p>
        <ul>
          <li><a href="https://whocanivotefor.co.uk/elections/{{ object.get_example_postcode.pcds }}">
            WhoCanIVoteFor
          </a>
          </li>
          <li><a href="https://wheredoivote.co.uk/postcode/{{ object.get_example_postcode.pcds }}">
            WhereDoIVote
          </a>
          </li>
          <li><a href="https://candidates.democracyclub.org.uk/search?q={{ object.get_example_postcode.pcds }}">
            Candidates
          </a>
          </li>
          <li><a href="https://www.electoralcommission.org.uk/polling-stations?postcode-search={{ object.get_example_postcode.pcds }}">
            Electoral Commission
          </a>
          </li>
        </ul>
        {% endif %}

        <h3>API</h3>
        <ul>
            <li><a href="{% url 'api:election-detail' election_id=object.election_id %}">
                    Election detail (JSON)
                </a>
            </li>
            {% if object.geography %}
                <li><a href="{% url 'api:election-geo' election_id=object.election_id format='json' %}" rel="nofollow">
                        Election boundary (GeoJSON)
                    </a>
                </li>
            {% endif %}
        </ul>

        {% if object.whocivf_link or object.ynr_link %}
            <h3>Candidates</h3>
            <p>View this election on:</p>
            <ul>
              {% if object.whocivf_link %}
                <li><a href="{{ object.whocivf_link }}">WhoCanIVoteFor</a></li>
              {% endif %}
              {% if object.ynr_link %}
                <li><a href="{{ object.ynr_link }}">candidates.democracyclub.org.uk</a></li>
              {% endif %}
          </ul>
        {% endif %}

    </div>
</section>
</div>

{% endblock content %}

