{% extends "base.html" %}

{% block page_title %}Election Types{% endblock page_title %}

{% block content %}

    <h2>Election Types</h2>

    {% for object in object_list %}
        <h3>{{ object.name }}</h3>
        <p>Election type: <code>{{ object.election_type }}</code></p>

        <h5>Example Election ID:</h5>
        <p>
            <code>{{object.example_election_id}}</code>
        </p>

        {% if object.subtype.all %}
            <h5>Subtypes</h5>
            <ul>
                {% for subtype in object.subtype.all %}
                    <li>{{ subtype.name }}: <code>{{ subtype.election_subtype }}</code></li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endfor %}


{% endblock content %}
